/**
 * Blood theme for reveal.js
 * Author: Walther http://github.com/Walther
 *
 * Designed to be used with highlight.js theme
 * "monokai_sublime.css" available from
 * https://github.com/isagalaev/highlight.js/
 *
 * For other themes, change $codeBackground accordingly.
 *
 */

 // Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

// Colors used in the theme
$red: #f4004d;
$coal: #222;
$codeBackground: #23241f;

$backgroundColor: $coal;

// Main text
$mainFont: OpenSans, 'sans-serif';
$mainFontSize: 36px;
$mainColor: #eee;

// Headings
$headingFont: OpenSans, 'sans-serif';
$headingTextShadow: 2px 2px 2px $coal;
$heading1Size: 3.25em;

// Links
$linkColor: $red;
$linkColorHover: lighten( $linkColor, 20% );

// Text selection
$selectionBackgroundColor: $red;
$selectionColor: #fff;

// Include theme-specific fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic);

// Custom styling ------------------------------

.slide-background {
	background: 50% 50% no-repeat;
	background-size: cover;

	&.bg-why {
		background-size: cover;
		background-image: url(../../img/but-why-2.gif) ;
	}

	&.bg-nonono {
		background-size: contain;
		background-image: url(../../img/no.gif);
	}

	&.bg-puzzle {
		background-size: contain;
		background-image: url(../../img/css.gif);
	}

	&.bg-disgusting {
		background-image: url(../../img/do-not-want.gif);
	}

	&.bg-ieuw {
		background-image: url(../../img/ieuw.gif);
	}
}

.reveal .profile-link {
	display: inline-block;
	padding: 10px;
	color: #fff;
}
// ---------------------------------------------


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------
